@model scrum_app.Models.spring_backlog.SpringBacklogModel
﻿@using scrum_app.Models.spring
@{
    ViewBag.Title = "Create";
}

<h2>Agregar historia al Sprint Backlog</h2>

 @{ if (@CurrentSpring.GetCurrentSpring().id_spring > 0) { 
     <p><b>Sprint actual: </b>@CurrentSpring.GetCurrentSpring().nombre</p>  
 }}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.fk_historia_usuario, "Historia de usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fk_historia_usuario", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_historia_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
