@model IEnumerable<scrum_app.DB_Model.sc_spring_meeting>
﻿@using scrum_app.Models.spring
@{
    ViewBag.Title = "Index";
}

<h2>Reuniones de Sprint</h2>
@{ if (@CurrentSpring.GetCurrentSpring().id_spring > 0)
    {
        <p><b>Sprint actual: </b>@CurrentSpring.GetCurrentSpring().nombre</p>
    }}

@{if (scrum_app.Models.usuario.LoginModel.getUserSession().fk_rol == 1 || scrum_app.Models.usuario.LoginModel.getUserSession().fk_rol == 2)
    {
        <p>
            @Html.ActionLink("Nueva reunión", "Create")
        </p>
    } }

<table class="table">
    <tr>
        <th>
            Reunión
        </th>
        <th>
            Spring
        </th>
        <th>
            Fecha
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sc_spring_meeting_type.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sc_spring.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_creacion)
            </td>

            <td>
                @Html.ActionLink("Detalle", "Details", new { id = item.id_spring_meeting })

            </td>
        </tr>
    }

</table>
@Html.ActionLink(
    linkText: "Regresar",
    actionName: "Index",
    controllerName: "Spring",
    routeValues: new { },
    htmlAttributes: new { })