@model scrum_app.Models.equipo.EquipoModel

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo miembro de equipo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
        <div class="form-group">
            @Html.LabelFor(model => model.fk_usuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fk_usuario",null,"Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_usuario, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar al equipo" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index", new { scrum_app.Models.proyecto.CurrentProject.GetCurrentProject().id_proyecto })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
