@model IEnumerable<scrum_app.DB_Model.sc_historia_usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Historias de usuario</h2>

@{ if (scrum_app.Models.usuario.LoginModel.getUserSession().fk_rol == 1)
    {
        <p>
            @Html.ActionLink("Nueva historia de usuario", "Create")
        </p>
    }
}


<table class="table">
    <tr>
        <th>
            Título
        </th>
        <th>
            Epica
        </th>
        <th>
            Estado
        </th>
        <th>
            Fecha
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.sc_epica.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sc_estado_historia_usuario.estado)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.fecha_creacion)
            </td>
            <td>
                @Html.ActionLink("Detalle", "Details", new { id = item.id_historia_usuario })

                @{ if (scrum_app.Models.usuario.LoginModel.getUserSession().fk_rol == 1)
                    {
                        <a>
                            |
                        </a>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id_historia_usuario })
                    }
                }
                </td>
        </tr>
    }

</table>
